## Ignore all dot files?
.*

## Specific Apple stuff
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?

## Temporary and backup
*~
#*    

# ROOT stuff
AutoDict_*
*root

# pictures
*png
*pdf
*gif
*eps

# Some directories
Results
Data
CleanAuAu
old
bin



# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
